.container {
  display: flex;
  flex-direction: column;
  background-color: lightcyan;
  gap: 1rem;
}

.header {
}

.addTodo {
  form {
    display: flex;
    flex-direction: row;
    align-items: center;
    // justify-content: space-between;
    gap: 1rem;
    width: 100%;
  }
}

.todos {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
